.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 100vw;
  height: 22vh;
}

.nasa-logo {
  height: 100px;
  width: 200px;
  margin-right: 100px;
}

@media (max-width: 400px) {
  .nasa-logo {
    height: 100px;
    width: 200px;
    padding-top: 50px;
  }

}