#header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 4000px;
  height: 149px;
}

@media (max-width: 400px) {
    
  #header {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 90px;
    height: 90px;
  }

  .nasa-logo {
    margin-left: 100px;
    background-color: white;
  }
}
