.home {
  display: flex;
  flex-direction: column;
  margin-top: 50vh;
  margin-bottom: 50vh;
}

.welcome-words {
  padding-top: 30px;
  padding-bottom: 10px;
  padding-left: 90px;
  padding-right: 90px;
  text-align: center;
}

.lhcaPW {
  height: 50px;
  width: 100vw;
  color: white;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 4%,
    rgba(231, 14, 14, 1) 30%,
    rgba(231, 14, 14, 1) 70%,
    rgba(255, 255, 255, 1) 96%
  );
  border-radius: 300px;
}

@media (max-width: 400px) {
  .lhcaPW {
    color: white;
    background: red;
    border-radius: 300px;
    padding-top: 0px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    margin-top: 1vh;
    height: 10vh;
    width: 50vw;
  }
}
