.home {
  display: flex;
  flex-direction: column;
}

.lhcaPW {
  height: 10vh;
  width: 80vw;
  margin-top: 50vh;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 90px;
  padding-right: 90px;
  text-align: center;
  color: white;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(231, 14, 14, 1) 43%,
    rgba(231, 14, 14, 1) 56%,
    rgba(255, 255, 255, 1) 100%
  );
  border-radius: 300px;
}

@media (max-width: 400px) {
  .lhcaPW {
    color: white;
    background: red;
    border-radius: 300px;
    padding-top: 5px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    margin-top: 40vh;
    height: 20vh;
    width: 40vw;
  }
}
