p {
  color: white;
  font-size: 15px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(231, 14, 14, 1) 43%,
    rgba(231, 14, 14, 1) 56%,
    rgba(255, 255, 255, 1) 100%
  );
  margin-top: 122px;
  padding-top: 3px;
  padding-left: 400px;
  padding-right: 400px;
  padding-bottom: 6px;
  font-weight: 600;
  position: fixed;
}

.images-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  margin-top: 120px;
  margin-bottom: 30px;
}

.image {
  width: 20vw;
  height: 27vh;
  border-radius: 15px;
  margin-top: 20px;
  margin-right: 10px;
  cursor: crosshair;
}

@media (max-width: 400px) {
  .images-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    margin-top: 120px;
    margin-bottom: 30px;
  }

  .image {
    width: 80vw;
    height: 27vh;
    border-radius: 15px;
    margin-top: 20px;
    margin-right: 10px;
    cursor: crosshair;
  }

  p {
    color: white;
    font-size: 15px;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(231, 14, 14, 1) 43%,
      rgba(231, 14, 14, 1) 56%,
      rgba(255, 255, 255, 1) 100%
    );
    width: 150px;
    text-align: center;
    font-weight: 600;
    position: fixed;
  }
}
